* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* COMMON */

.w-100 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.td-none {
    text-decoration: none;  
}

.bluebtn{
    background-color: #0061FF;
    color: #FFFFFF;
    padding: 8px 16px;
    display: inline;
}

.transparentbtn {
    color: black;
    border: 1px solid black;
    padding: 8px 16px;
    display: inline;
}

.whitebtn {
    background-color: white;
    color: black;
    padding: 8px 16px;
    display: inline;

}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

* .underlinelink {
    color: #0061FF;
    text-decoration: underline;
}

.greytxt {
    color: grey;
    font-size: 12px;
}

.lightgreytxt {
    color: lightgrey;
}

.sx {
    float: left;
}

.dx {
    float: right;
}

.block {
    padding-top: 150px;
    width: 60%;
    margin: 0 auto;
}

.lightgreen {
    background-color: lightgreen;
}

.brown {
    background-color: brown;
}

.lightblue {
    background-color: #0093CE;
}

.red {
    background-color: red;
}

.darkred {
    background-color: #D5001F;
}

.gray {
    background-color: #B4D0E7;
}

.blue {
    background-color: darkblue;
}

.yellow {
    background-color: gold;
}


/* / COMMON */


/* HEADER */

header {
    width: 100%;
    height: 70px;
}

.top-bar {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
}


.left.ul, .right.ul {
    font-size: 14px;
}

.left.ul {
    float: left;
    width: 40%;
}

.right.ul {
    float: right;
    padding-right: 50px;
}

.ul li{
   display: inline-block; 
   padding: 0 5px;
   line-height: 70px;
}

.ul li a:not(#logo, .bluebtn) {
    display: inline-block;
    padding: 0 10px;
    color: black;
}

.ul li a:not(#logo a,.bluebtn):hover {
    border-bottom: 2px solid black;
}

#logo img {
    vertical-align: middle;
    height: 100%;
}


/* / HEADER  */

/* MAIN */

/* / jumbo section */

.jumbotron {
    background-color: #B4D0E7;
    padding: 30px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper-title h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 40px;
}

.wrap-down {
    width: 100%;
}

.wrapper-descript{
 width: 100%;
}

.wrapper-descript p {
    width: 35%;
    margin-bottom: 30px;
}

.wrapper-descript #cancel {
    font-size: 14px;
    margin-top: 20px;

}

.fas.fa-arrow-down {
 color: black;
}


.wrapper-img img {
    max-width: 50%;
    position: absolute;
    left: 40%;
}

/* / jumbo section */

/* content section */


.main-cont p {
    margin: 35px 0;
}

.head h2 {
    padding-top: 90px;
}

.column, .center {
    height: 1400px;
    float: left;
    margin: 20px 0;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

.col-title {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px 0;
}

.col-cont-up, .col-cont-down {
    padding: 20px;
}

.divbar {
    padding: 10px 20px;
}

.column.left, .column.right{
    width: calc((100% / 3) - 20px);
    
}

.center {
    width: calc((100% / 3)); 
    margin: 20px;
}

.fas.fa-check{
    color: #0061FF;
}

/* block 2 */
.downbox {
    border: 1px solid lightgrey;
    height: 250px;
    width: 100%;
}

.col-cont {
    position: relative;
    padding: 20px;
    height: 200px;
}

.col-cont .sx {
    width: 70%;
}

.col-cont .dx {
    width: auto;
}

#contact-office {
    padding: 10px 40px;
    position: absolute;
    top: 30px;
    left: 630px;
}

/* block 3 */
.partner-banner {
    width: 100%;
}

.partner-banner-img {
    width: calc(100%);
}

#part-img {
    width: calc(100% / 2);
}

.partner-banner-descript {
    width: calc((100% / 2) - 50px);
    padding: 10px;
}

#border {
    border: 1px solid black;
}

/* block 4 */

.row {
    width: 100%;
}

.feature-box {
    float: left;
    width: calc((100% / 3 ) - 40px);
}

.feature-box.l,.feature-box.r {
    margin: 0;
}

.feature-box.middle {
    margin: 0 60px;
}

.feature-box img, .feature-box p { 
    width: 200px;
}

/* block 5 */
.block.five {
    width: 100%;
    position: relative;
}

.b-5-title, .col-bottom {
    width: 60%;
    margin: 0 auto;
}

.b-5-row {
    width: 100vw;
}

.col-side {
    width: 30vw;
    height: 30vw;
}

.col-side .item {
    display: inline-block;
    width: calc(15vw - 4px);
    height: calc(15vw - 5px);
    line-height: 15vw;
    text-align: center;
    margin-bottom: 5px;

}

.item img {
    filter: invert(1);
    width: 50%;
    vertical-align: middle;
}

.col-center {
    width: calc(100% - 60vw);
    height: calc(30vw - 4px);
    background-color: #F5F5F5;
    padding: 50px;
    box-sizing: border-box;
}

.col-center img {
    width: 20%;
}

.col-bottom {
    width: 100vw;
    height: 20vw;
    color: #61082B;
    padding: 50px;
    box-sizing: border-box;
}

.col-bottom-content {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.col-bottom-content h2 {
    width: 50%;
}


#bottom-btn {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 650px;
}

/* block 6 */

.faq {
    width: 100%;
    margin: 0 auto;
    
}

.faq-row  {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.faq-row {
    height: 70px;
}

.faq-row:hover {
    height: 140px;
}

.fa-chevron-up {
    display: none;
    vertical-align: middle;
}

.fa-chevron-down {
    display: block;
    vertical-align: middle;
}

.faq-row:hover .fa-chevron-up {
    display: block;
}

.faq-row:hover .fa-chevron-down {
    display: none;
}

.faq-row:hover .faq-answ {
    display: block;
}

.faq-quest {
    display: block;
}

.faq-answ {
    display: none;
}

/* / content section */

/* / MAIN  */

/* FOOTER  */
footer {
    margin-top: 50px;
    background-color: black;
    padding: 50px;
}

.lists, .footer-bottom {
    width: 80%;
    margin: 0 auto;
    
}

.lists ul {
    padding: 0;
    width: calc(100% / 5);
}

.lists ul li a, .lists ul li.list-title { 
    color: white;
    list-style: none;
    padding: 10px;

}

.list-title {
    font-size: 30px;
    font-weight: bold;
}

.footer-bottom {
    color: grey;
    padding: 0;
}

#last-line {
    margin: 10px 0;
    display: block;
    position: absolute;
    left: 200px;
}


/* / FOOTER  */