/* debug */

.debug.container {
    border: 1px solid black;
    background-color: cadetblue;
}

.debug .left.ul, .debug .right.ul{
    background-color: coral;
    height: 70px;
}

.debug.jumbotron

/* debug */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* COMMON */

.w-100 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.td-none {
    text-decoration: none;  
}

.bluebtn{
    background-color: #0061FF;
    color: #FFFFFF;
    padding: 8px 16px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

.greytxt {
    color: grey;
    font-size: 12px;
}

.lightgreytxt {
    color: lightgrey;
}
/* / COMMON */


/* HEADER */

header {
    width: 100%;
    
}

.top-bar {
    height: 70px;
}

/* .dropdown {
    display: none;
}

.dropdown:hover {
    
}

.dropdown-menu a {
    display: block;
} */

.left.ul,.right.ul {
    font-size: 14px;
}

.left.ul {
    float: left;
    width: 40%;
}

.right.ul {
    float: right;
    padding-right: 50px;
}

.ul li{
   display: inline-block; 
   padding: 0 5px;
   line-height: 70px;
}

.ul li a:not(#logo, .bluebtn) {
    display: inline-block;
    padding: 0 10px;
    color: black;
}

.ul li a:not(#logo a,.bluebtn):hover {
    border-bottom: 2px solid black;
}

#logo img {
    vertical-align: middle;
    height: 100%;
}

#start {
    
}

/* / HEADER  */

/* MAIN */

/* / jumbo section */

.jumbotron {
    background-color: #B4D0E7;
    padding: 50px;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.wrapper-title {

}

.wrap-down {
    width: 100%;
}

.wrap-sx {
    float: left;
}

.wrap-dx {
    float: right;
}

.wrapper-descript{
 width: 100%;
}

.wrapper-descript p {
    width: 35%;
    margin-bottom: 30px;
}

.wrapper-descript #cancel {
    font-size: 14px;
    margin-top: 20px;

}

.fas.fa-arrow-down {

}

.wrapper-img {
}

.wrapper-img img {
    width: 50%;
    position: absolute;
    left: 40%;
}

/* / jumbo section */

/* content section */

.main-cont {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
}

.main-cont p {
    margin: 35px 0;
}
.head {
    
}

#monthly, #annual {

}

.column, .center {
    height: 1400px;
    float: left;
    /* background-color: #ABCFE7; */
    margin: 20px 0;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

.col-title {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px 0;
}

.col-cont-up, .col-cont-down {
    padding: 20px;
}

.divbar {
    padding: 10px 20px;
}

.column.left, .column.right{
    width: calc((100% / 3) - 20px);
    
}

.center {
    width: calc((100% / 3)); 
    margin: 20px;
}

p > a {
    color: #0061FF;
    text-decoration: underline;
}


.fas.fa-check{
    color: #0061FF;
}


/* / content section */

/* / MAIN  */

/* FOOTER  */
/* / FOOTER  */